[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
matplotlib = "*"
xgboost = "==2.0.3"
joblib = "*"
shap = "*"
importlib-resources = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.7"
